src/app/__pycache__/__init__.cpython-313.pyc
src/app/__pycache__/routes.cpython-313.pyc
src/app/__pycache__/models.cpython-313.pyc
src/app/__pycache__/celery_app.cpython-313.pyc
src/app/__pycache__/forms.cpython-313.pyc
src/app/__pycache__/tasks.cpython-313.pyc
src/app/wayback_newegg_scrapy/wayback_newegg_scrapy/spiders/__pycache__/wayback_newegg.cpython-313.pyc

infra/docker/terraform.tfstate
infra/docker/.terraform.lock.hcl
infra/docker/terraform.tfstate.backup
infra/vpc/.terraform/providers/registry.terraform.io/hashicorp/aws/6.41.0/windows_amd64/LICENSE.txt
infra/vpc/.terraform/providers/registry.terraform.io/hashicorp/aws/6.41.0/windows_amd64/terraform-provider-aws_v6.41.0_x5.exe
infra/vpc/terraform.tfstate.backup
infra/vpc/terraform.tfstate
infra/vpc/.terraform.lock.hcl
infra/rds/.terraform/providers/registry.terraform.io/hashicorp/tls/4.2.1/windows_amd64/terraform-provider-tls_v4.2.1_x5.exe
infra/rds/.terraform/providers/registry.terraform.io/hashicorp/tls/4.2.1/windows_amd64/LICENSE.txt
infra/rds/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/terraform-provider-local_v2.8.0_x5.exe
infra/rds/.terraform/providers/registry.terraform.io/hashicorp/local/2.8.0/windows_amd64/LICENSE.txt
infra/rds/.terraform/providers/registry.terraform.io/hashicorp/aws/6.41.0/windows_amd64/terraform-provider-aws_v6.41.0_x5.exe
infra/rds/.terraform/providers/registry.terraform.io/hashicorp/aws/6.41.0/windows_amd64/LICENSE.txt
infra/rds/terraform.tfstate.backup
infra/rds/terraform.tfstate
infra/rds/.terraform.lock.hcl
infra/ecs/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null_v3.2.4_x5.exe
infra/ecs/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/LICENSE.txt
infra/ecs/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
infra/ecs/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
infra/ecs/terraform.tfstate.backup
infra/ecs/terraform.tfstate
infra/ecs/.terraform.lock.hcl
infra/docker/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/terraform-provider-null_v3.2.4_x5.exe
infra/docker/.terraform/providers/registry.terraform.io/hashicorp/null/3.2.4/windows_amd64/LICENSE.txt
infra/docker/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/terraform-provider-aws_v5.100.0_x5.exe
infra/docker/.terraform/providers/registry.terraform.io/hashicorp/aws/5.100.0/windows_amd64/LICENSE.txt
src/app/__pycache__/forms.cpython-313.pyc
src/app/__pycache__/models.cpython-313.pyc
