body {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 0px;
}

h1 {
  color: rgb(0, 0, 0);
  margin-left: 20px;
}

table, th, td {
  border: 1px solid;
  padding: 5px
}

th {
  background-color: darkcyan;
  color: white
}

input[type=submit] {
  background-color: darkcyan;
  color: white;
}

nav {
  background-color: darkcyan;
  color: white;
  padding: 10px;
  margin: 0;
}

.odd_row {
  background-color: white;
}

.even_row {
  background-color: lightgray;
}

.button {
  background-color: darkcyan;
  color: white;
}

.button2{
  background-color: gray;
  color: white;
}

.button:disabled {
  background-color: gray;
  color: white;
}

.header_block {
  background-color: darkcyan;
  color: white;
  margin: 0;
  padding: 10px;
}

.main_block {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

.center{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}