{% extends 'base.html' %}
{% block main %}
<nav>
<div class="header_block">    
    <h1>Hardware Genie</h1>
</div>
</nav>
<div class="main_block">
    <h2>Welcome to Hardware Genie!</h2>
    <p>Hardware Genie is a web application that allows users to browse and search for computer hardware parts. Users can view details about each part, including its name, description, price, and an image.</p>
    <div class="center">
        <h2>Browse by Category</h2>
    </div>
    <table class="center">
        <tr>
            <td><a href="{{ url_for('memory_page') }}"><image src="{{ url_for('static', filename='images/Ram_icon.png') }}" alt="Memory"></a><a href="{{ url_for('memory_page') }}"><br>Memory</a></td>
            <td><a href="{{ url_for('gpu_page') }}"><image src="{{ url_for('static', filename='images/GPU.png') }}" alt="GPU"></a><a href="{{ url_for('gpu_page') }}"><br>GPU</a></td>
        </tr>
        <tr>
            <td><a href="{{ url_for('cpu_graphs') }}"><image src="{{ url_for('static', filename='images/cpu.png') }}" alt="CPU"></a><a href="{{ url_for('cpu_page') }}"><br>CPU</a></td>
            <td><a href="{{ url_for('storage_graphs') }}"><image src="{{ url_for('static', filename='images/storage.png') }}" alt="Storage"></a><a href="{{ url_for('storage_page') }}"><br>Storage</a></td>
        </tr>
         <tr>
            <td><a href="{{ url_for('motherboard_graphs') }}"><image src="{{ url_for('static', filename='images/motherboard.png') }}" alt="Motherboard"></a></td>
            <td><a href="{{ url_for('powersupply_graphs') }}"><image src="{{ url_for('static', filename='images/powersupply.png') }}" alt="Power Supply"></a></td>
        </tr>
    </table>
</div>
<p><br><br><br><br><br><br><br><br><br><br><br><br><br><br></p>   
<div class="center">
    <h2>Scrape for a Part</h2>
    <form action="{{ url_for('scraper') }}" method="post">
        <button type="submit">Goto Scraper</button>
    </form>
</div>
<footer>
    <p>&copy; 2024 Hardware Genie. All rights reserved.</p>
</footer>
{% endblock %}